@import url(images.css);

.text-classic h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 5px;
}

.text-classic {
  font-family: Calibri;
}

.text-classic p strike {
  color: #dddddd;
}

.text-classic a {
  font-size:1em;
}

.text-classic p {
  font-size:1.15em;
  margin-top: 0.85em;
  margin-bottom: 0.85em;
}


.triage-font {
  background-color: #a50a0a;
}

.triage-link {
  background-color: #a50a0a;
  color: #ffffff;
}
