@import url(images.css);

.text-classic h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 5px;
  font-size: 1cm
}

.text-classic {
  font-family: Calibri;
}

.text-classic p strike {
  color: #dddddd;
}

.text-classic p {
  font-family: Calibri;
}

.text-classic a {
  font-style: italic;
}

.triage-font {
  background-color: #a50a0a;
}

.triage-link {
  background-color: #a50a0a;
  color: #ffffff;
}
