@import url(images.css);

.text-classic h2 {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: 5px;
}

.text-classic p {
  font-family: Calibri;
}
.text-classic a {
  font-style: italic;
}

.triage-font {
  background-color: #a50a0a;
}
